.menu-item {
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    margin: 10px 20px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60%
}

.houseImage {
    width: 70vw;
    height: 60vh;
    border-radius: 2% 2% 0% 0%;
}

.card-info {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-top: 5px;
    padding: 5px;
}

.card-info h2 {
    font-size: 0.8em;
    color: black
}

.card-info p {
    margin: 0;
    font-size: 0.8em;
    color: black
}

.card-info span {
    font-weight: 100;
    font-size: 0.7em;
    color: rgb(163, 168, 168);
}

a {
    text-decoration: none;
}